<section class = "due-today">
  <div class = "heading">
    <h2><%= heading %></h2>
    <div class = "total-completed"> <%= todos.isCompleted.count %>/<%= todos.count %> </div>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li>
        <input type = 'checkbox' <%= todo.completed ? "checked" : "" %>/>
        <label style="text-decoration-line : <%= todo.completed ? 'line-through' : 'none' %>"> 
          <%= todo.todo_text %>
        </label>
        <% if show_due_date %>
          <p class="due-date">
            <%= todo.due_date.to_s(:short) %>
          </p>
        <% end %>
        <img src = "trash-can-outline.png" />
      </li>
    <% end %>
  </ul>
</section>