<main>
  <article>
    <h1>My To-do List</h1>
    <%= form_with(url: "/todos", method: "post", class: "add-todo-section") do %>
      <%= text_field_tag :todo_text, "", placeholder: "What's next" %>
      <%= date_field_tag :due_date, "" %>
      <%= submit_tag :"Add" %>
    <% end %>

    <%= render partial: "section", locals: {
      heading: "Overdue", 
      todos: Todo.overdue,
      show_due_date: true
    }%>

    <%= render partial: "section", locals: {
      heading: "Due today", 
      todos: Todo.due_today,
      show_due_date: false
    } %>

    <%= render partial: "section", locals: {
      heading: "Due later", 
      todos: Todo.due_later,
      show_due_date: true
    } %>
  </article>
</main>